body{
    background-color: white;
  }
  h4{
    font-family: 'Merriweather', serif;
  }
  .container-full{
    background-position: center;
    text-align:center;
    height: auto;
    background-size: cover;
    /* padding-top:25%; */
    text-decoration-color: white;
  }
  .back{
  padding-top: 20%;
  background-image: url("images/assets/backgrounds/h_img.jpg");
  background-size: cover;
  text-align: center;
  color: white;
  }
  .back h1{
    margin-top: 15px;
    font-size: 40px;
}    
.back p{
    margin-top: 10px;
    font-size: 120%;
}
  
  .mouse{
    margin-top: 80px;
  }
  .logo{
      margin-top: 10px;
  }

  .writing{
  padding-top:5%;
  padding-bottom: 3%;
  text-align: center;
  font-family: 'Yantramanav' ,sans-serif;
  font-size: 16px;
  }
  
  .services{
    background-image: url("images/assets/backgrounds/s_image.jpg");
    color: white;
    text-align: center;
    background-size: cover;
    font-size: small;
    font-family: 'Yantramanav' ,sans-serif;
    position: relative;
  
  }
  #dev-content{
    display: none;
  }
  #prod-content{
    display: none;
  }


  /* #mc_embeded_signup {
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
    font: 14px Helvetica, Arial, sans-serif;
  }
  .mc-field-group input {
    background-color: transparent;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid white;
  } */


  .portfolio{
    margin-left: 10px;
    margin-right: 15px;
  }
  .row{
    padding: 2%;
  }
  .Contact-Us{
    background-image: url("images/assets/backgrounds/c_image.jpg");
    background-size: cover;
    display: cover;
    padding: 10%;
  }
  form#contact{
    background-color: rgba(0,0,0,0);
  }
  input[type=text]{
    background: transparent;
    color: white;
  }
  textarea[type=text]{
    background: transparent;
    color: white;
  }
  .submit{
    position: absolute;
    padding-left: 25%;
  }
  .Footer{
    color: black;
    justify-content: center;
    text-align: center;
    font-size: small;
    font-family: 'Amaranth', sans-serif;
  }